*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

section {
    padding: 7em 0;
}

// style container first
.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

// lay out structure 
.split {
    display: flex;
    // no matter where the spacing is, will keep a 2em gap
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    & > * {
        // div is set to 100%, flex-basis will over ride to 100% 
        flex-basis: 30%;
        min-width: 15em;
    }

    // once compiled
    // .split > * {
        
    // }
}

.spacing > * + * {
    margin-top: var(--spacer, 2rem);
}

.btn {
    // display will stop the over lap
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition:
        transform 250ms ease-in-out,
        opacity 250ms linear;
    
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: 4rem;
    
      /* responsive typography, minimum 3rem max 4.5rem, 5vw: viewport window */
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem );
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color:  navy;
    margin-bottom: 2em;
}

.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;


    // feature query, if browser supports background blend mode
    @supports(background-blend-mode: multiply) {
        background: url(../img/shoe-3.png),
            radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }

   
}

 // if not using scss, this is how to write it for regular css.
    // @supports (property: value) {
    //     .hero {
    //          background-blend-mode: multiply
    //          background: url(../img/shoe-3.png),
    //          radial-gradient(#444, #111);
    //     }
    // }

.featured {
    background: #eee;
    // & symbol is to add to .featured
    &__item {
        display: block;
        // color: red;
        position: relative;
        transform: scale(.85);
        transition: transform 250ms ease-in-out;
        // border: 1px solid red;
        text-decoration: none;
        color: darkgrey;
        text-align: center;
        line-height: 1.2;
        
        &:hover,
        &:focus {
            transform: scale(1);

            .featured__details {
                opacity: 1;
                // text-shadow: glow around text;
                text-shadow: 0 0 2em rgba(white, 1);
            }
        }

        &:after {
            // anytime you have a sudo element you have to give it content;
            content: '';
            position: absolute;
            top: 10%;
            left: 10%;
            // padding based on the width of the parent, not on the height. same with margin
            padding: 75% 75% 0 0;
            background: rgb(102, 156, 192);
            border-radius: 50%;
            // set the layering order, -1 will go behind current layer
            z-index: -1;
        }
    }

    &__details {
        opacity: 0;
        transition: opacity 250ms linear;

        span {
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }
    }
}


.product {
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;
    text-align: center;

    &__title {
        font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
        text-transform: uppercase;
        line-height: 1;
        color: white;
        text-shadow: 0 0 .2em rgba(black, .25);
    }

    &__image {
        margin: -5em 0 0 0;
    }

    @media (min-width: 45em) {
        text-align: left;
        margin-bottom: 9em;

        &__title {
            margin: 0;
        }
        &__image {
            float: right;
            width: 65%;
            // outline: 2px solid red;
            // shape-outside: circle(45%);
            shape-outside: url(../img/shoe-1.png);
            // add margin around shape-outside
            shape-margin: 1em;
            margin: 0 -5em 0 0;
        }

        &.shoe-left {

            .product__image {
                float: left;
                shape-outside: url(../img/shoe-2.png);
                shape-margin: 2em;
                margin: 0 0 0 -5em;

            }
        }
    }
}


.hero {
    --clr-accent: #faa700;
}

.shoe-red {
    --clr-inner: #faa700;
    --clr-outer: #e48d00;
    --clr-accent: #a1173c;
}

.shoe-white {
    --clr-inner: #fce4b3;
    --clr-outer: #eac886;
    --clr-accent: #2f4858;
}

.shoe-blue {
    --clr-inner: #6dd5ed;
    --clr-outer: #2193b0;
    --clr-accent: #008951;
}

